ul#pub_list
{
    list-style-type: none;
	padding: 0px;
}

ul#pub_list > li {
	padding: 5px;
}

li.pub_item_highlight {
	background-color:#B0EC7E;
}

.people-box {
	height: 110px;
	
}

.funding-logo{
	margin-bottom: 15px;
}