---
layout: workpackage
title: EvoRepro Workpackage 2
---

	{% include header.html %}

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">    
		<h2 class="section-heading"><strong>WP1:</strong> Sample collection and transcriptome analysis</h2>
                    <hr class="primary">
		  <p>Transcriptomes of gametes from a number of angiosperms have been analysed during the
			  last decade
			   (<a href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC545776/'>Honys and Twell, 2004</a>;
			  <a href='http://www.plantphysiol.org/content/138/2/744'>Pina <em>et al</em>., 2005</a>;
			  <a href='http://www.plantphysiol.org/content/148/2/1168'>Borges <em>et al</em>., 2008</a>),
			  but a comprehensive analysis, spanning lower plants to angiosperms, has never been undertaken.
			  We are addressing this
			  shortfall by combining unpublished data sets with new ones, building on our combined expertise of
			  plant gamete isolations
			   (<a href='https://dx.doi.org/10.1007/978-1-4939-7286-9_18'>Englhart <em>et al</em>., 2017</a>;
			  <a href='https://link.springer.com/protocol/10.1007%2F978-1-4939-7286-9_16'>Santos <em>et al</em>., 2017</a>).</p>
		   <p>
		   We have performed RNA-Seq analysis of gametogenesis stages and isolated gametes from <em>Arabidopsis
			   thaliana</em> and the model bryophytes <em>Physcomitrella patens</em> and <em>Marchantia polymorpha</em>. These
			   RNA-Seq data sets have been complemented with publicly available transcriptome data on
			   additional tissue types and phases of development. Moreover we have analysed the transcriptome
			   of the basal angiosperm <em>Amborella trichopoda</em> during all major stages of its life cycle,
			   including reproduction, for the first time.</p>
	       </div>
	     </div>  
	</div>
    </section>
	{% include people_selected.html selected="J&ouml;rg Becker;Stefanie Sprunck;David Twell;Thomas Dresselhaus;Frederic Berger;Dieter Hackenberg;Ann-Cathrin Lindner;Tomokazu Kawashima;Michael Borg;María Flores-Tornero;Elin Axelsson;Mingmin Zhao" %}
	{% include publications_selected.html selected="santos2017;englhart2017;ortiz2016" %}
	{% include contact_wp.html name="J&ouml;rg Becker" mail="jbecker@igc.gulbenkian.pt" %}