---
layout: workpackage
title: EvoRepro Workpackage 2
---

	{% include header.html %}

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">    
		<h2 class="section-heading"><strong>WP2:</strong> Sample collection and transcriptome analysis</h2>
                    <hr class="primary">
		  <p>Transcriptomes of gametes from a number of angiosperms have been analysed during the
			  last decade (Honys and Twell, 2004; Pina et al., 2005; Borges et al., 2008), but a comprehensive
			  analysis, spanning lower plants to angiosperms, has never been undertaken. We are addressing this
			  shortfall by combining unpublished data sets with new ones, building on our combined expertise of
			  plant gamete isolations (Englhart et al., 2017; Santos et al., 2017).</p>
		   <p>
		   We have performed RNA-Seq analysis of gametogenesis stages and isolated gametes from Arabidopsis
			   thaliana and the model bryophytes Physcomitrella patens and Marchantia polymorpha. These
			   RNA-Seq data sets have been complemented with publicly available transcriptome data on
			   additional tissue types and phases of development. Moreover we have analysed the transcriptome
			   of the basal angiosperm Amborella trichopoda during all major stages of its life cycle,
			   including reproduction, for the first time.</p>
	       </div>
	     </div>  
	</div>
    </section>
	{% include people_selected.html selected="Marek Mutwil;Sebastian Proost" %}
	{% include publications_selected.html selected="proost2016;ruprecht2016;proost2016b;ruprecht2016b;ruprecht2017;sibout2017;proost2017" %}
	{% include contact_wp.html name="Marek Mutwil" mail="mutwil@mpimp-golm.mpg.de" %}