---
layout: workpackage
title: EvoRepro Workpackage 4
---

	{% include header.html %}

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
		<h2 class="section-heading"><strong>WP4:</strong> Functional analysis of conserved male germline differentiation factors</h2>
                    <hr class="primary">
		  <p>The aims are to analyse the origin and functional conservation of male germline regulators and to explore 
		  the role(s) of novel network components identified through phylotranscriptomic analysis. The analysis is 
		  focused on the MYB transcription factor DUO1, which regulates germ cell division and sperm differentiation 
		  in Arabidopsis, and the zinc finger protein DAZ1, which forms a downstream regulatory node in the DUO1-DAZ1 network.
		   </p>
		   <p>
		   The expression and functional conservation of DUO1 and DAZ1 orthologues from several angiosperms (maize, rice, tomato,
		   Amborella) are being explored through transcriptome analysis, trans-activation assays and by complementation of Arabidopsis 
		   <em>duo1</em> mutant alleles. To gain deeper insight into DUO1-DAZ1 network evolution in angiosperms, the tomato orthologues of DUO1 and 
		   DAZ1 are being targeted for knockout by genome editing.</p>
		   <p>To address network conservation in pre-angiosperms, knockouts of DUO1 and DAZ1 orthologues in the Bryophyte models, 
		   <em>Physcomitrella patens</em> and <em>Marchantia polymorpha</em>, are being studied together with their expression and activities in 
		   functional complementation assays. The deeper evolutionary origins of the DUO1-DAZ1 network is also being explored through 
		   transcriptome studies and functional assays of ancestral sequences present in the Streptophyte ancestors of land plants. </p>
	       </div>
	     </div>  
	</div>
    </section>
	{% include people_selected.html selected="David Twell;Dieter Hackenberg;Mingmin Zhao;Frederic Berger;Michael Borg;Tomokazu Kawashima;J&ouml;rg Becker" %}
	{% include contact_wp.html name="David Twell" mail="twe@leicester.ac.uk" %}