---
layout: workpackage
title: EvoRepro Workpackage 5
---

	{% include header.html %}

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">    
		<h2 class="section-heading"><strong>WP5:</strong> Chromatin reprogramming and epigenetic inheritance</h2>
                    <hr class="primary">
		  <p>Genome activity relies on regulations by chromatin and its modifications including DNA
			  methylation and histone marks. Reprogramming of these modifications takes place during
			  gametogenesis and fertilization in animals. Only recently has work in Arabidopsis provided
              support for chromatin reprogramming in plants. However, its significance remains unclear
              and its evolutionary origin is unknown.

          </p>
		   <p>
              Here, we seek to establish the methylome in gametes of flowering plants and bryophytes,
              Physcomitrella and Marchantia and we will identify the genes responsible for DNA
              methylation establishment and maintenance.
           </p>
		   <p>
              DNA methylation targets primarily silencing of transposons while gene silencing is
              mediated by the epigenetic modification H3K27me3 deposition by Polycomb Repressive Complex
              2. We will establish chromatin profiling in Arabidopsis male gametes to explore the role
              of H3K27me3 in transcriptome reprogramming. To study chromatin in Marchantia, we need to
              re-assemble the genome into whole chromosome and establish chromatin profiling technology
              in this species towards the achieve studying chromatin in the context of sexual
              reproduction.</p>
	       </div>
	     </div>  
	</div>
    </section>
	{% include people_selected.html selected="Frederic Berger;Michael Borg " %}
	{% include publications_selected.html selected="berger2016" %}
	{% include contact_wp.html name="Frederic Berger" mail="frederic.berger@gmi.oeaw.ac.at" %}