    <section id="abstract">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">    
		<h2 class="section-heading">Abstract</h2>
                    <hr class="primary">
		  <p>
Modern life depends on flowering plants for food, fuel, textiles, and building materials.  However, our capacity to generate sufficient food, animal feed and energy is increasingly compromised by human population expansion, competition for land use, rapid biodiversity loss and predicted global climate change. It is therefore crucial to study the process of sexual reproduction in higher plants to overcome fertilization barriers and enhance crop productivity. 
<br />The EVOREPRO project will deliver the first comprehensive view of the molecular evolution of plant sexual reproduction and will provide insights into the origins of double fertilization in flowering plants. To this end the eight partner laboratories from Europe and the US are taking a comparative gene expression-based approach to investigate regulatory networks underlying sexual reproduction across Marchantia,  Physcomitrella,  Amborella,  Arabidopsis and a range of crop species. We aim to identify novel and missing key components involved in gamete development and fertilization processes such as germ cell division and specification, gamete interaction and activation, as well as chromatin re-programming and epigenetic inheritance in these cells.
<br />EVOREPRO is funded under the scope of ERA-CAPS, a European network dedicated to support research activities in Plant Sciences.
		   </p>
	       </div>
	     </div>  
	</div>
    </section>