    <section id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr class="primary">
                    <p>Would you like more information about this topic? Contact  <a href="mailto:{{ include.mail }}"><strong>{{ include.name }}</strong> <i class="fa fa-envelope text-muted"></i></a></p>
                </div>
            </div>
        </div>
    </section>