<section id="funding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Funding</h2>
				<hr class="primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="http://www.eracaps.org/joint-calls/era-caps-funded-projects/era-caps-second-call-2014/evolution-sexual-reproduction-plants"><img class="wow bounceIn" src="img/logos/logo-era-caps.png" alt="ERA CAPS logo" height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="http://www.mpimp-golm.mpg.de/"><img class="wow bounceIn" src="img/logos/mpimp.jpg" alt="MPIMP logo" data-wow-delay=".1s"  height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="http://www.fct.pt/"><img class="wow bounceIn" src="img/logos/fct.png" alt="FCT logo" data-wow-delay=".2s"  height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="http://www.igc.gulbenkian.pt/pages/homepage.php"><img class="wow bounceIn" src="img/logos/logoIGC2014.png" alt="IGC logo" data-wow-delay=".3s"  height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="http://www2.warwick.ac.uk/"><img class="wow bounceIn" src="img/logos/uwarwick.png" alt="University of Warwick logo" data-wow-delay=".4s"  height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="https://le.ac.uk/"><img class="wow bounceIn" src="img/logos/uleicester.png" alt="University of Leicester logo" data-wow-delay=".5s"  height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="http://www.uni-regensburg.de/"><img class="wow bounceIn" src="img/logos/ur.png" alt="Universitaet Regensburg logo" data-wow-delay=".6s"  height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="https://www.gmi.oeaw.ac.at/"><img class="wow bounceIn" src="img/logos/gmi.gif" alt="Gregor Mendel Institute logo" data-wow-delay=".7s"  height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="https://www.brown.edu/"><img class="wow bounceIn" src="img/logos/brownlogo.jpg" alt="Brown University logo" data-wow-delay=".7s"  height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="http://www.dfg.de/en/"><img class="wow bounceIn" src="img/logos/dfg_logo.jpg" alt="Deutschen Forschungsgemeinschaft" data-wow-delay=".7s" height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo" height="100px">
				<a href="https://www.fwf.ac.at/en/"><img class="wow bounceIn" src="img/logos/fwf_logo.jpg" alt="FWF" data-wow-delay=".7s" height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo" height="100px">
				<a href="http://www.bbsrc.ac.uk/"><img class="wow bounceIn" src="img/logos/bbsrc_logo.jpg" alt="BBSRC" data-wow-delay=".7s" height="100px"/></a>
			</div>
			<div class="col-lg-2 col-sm-3 col-xs-6 text-center funding-logo">
				<a href="https://www.nsf.gov/"><img class="wow bounceIn" src="img/logos/nsf_logo.jpg" alt="NSF" data-wow-delay=".7s" height="100px"/></a>
			</div>
		</div>
	</div>
</section>