    <section id="funding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Funding</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <a href="http://www.eracaps.org/joint-calls/era-caps-funded-projects/era-caps-second-call-2014/evolution-sexual-reproduction-plants"><img class="wow bounceIn" src="img/logos/logo-era-caps.png" alt="ERA CAPS logo" height="100px"/></a>
                </div>
                <div class="col-lg-4 text-center">
                    <a href="http://www.mpimp-golm.mpg.de/"><img class="wow bounceIn" src="img/logos/mpimp.jpg" alt="MPIMP log" data-wow-delay=".1s"  height="100px"/></a>
                </div>
            </div>
        </div>
    </section>