    <section id="press">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Press</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
			<ul id="pub_list">
				{%	assign press = site.data.press | sort:"date" %}
				{% for p in press reversed %}
				<li><strong>{{ p.title }}</strong>. <a href="{{ p.url }}">{{ p.source }}, {{ p.date | date_to_string }}</a></li>
			    {% endfor %}
			</ul>	
        </div>
    </section>