<section class="no-padding" id="projects">
	<div class="container-fluid">
		<div class="row no-gutter">
		{% for p in site.data.projects %}
			<div class="col-lg-4 col-sm-6">
				<a href="#" class="portfolio-box">
					<img src="{{ p.img }}" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								{{ p.title }}
							</div>
							<div class="project-name">
								{{ p.name }}
							</div>
							<div class="project-category text-faded">
							More information soon...
							</div>
						</div>

					</div>
				</a>
			</div>			
		{% endfor %}
		</div>
	</div>
</section>